<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
    <title>Thêm Khuyến Mãi Mới</title>
</head>
<body>
<div class="container mt-5">
    <h1 class="text-center">Thêm Khuyến Mãi Mới</h1>

    <form th:action="@{/saleoff/add}" th:object="${saleoff}" method="post">
        <div class="form-group">
            <label for="title">Tiêu đề</label>
            <input type="text" id="title" class="form-control" th:field="*{title}" placeholder="Nhập tiêu đề" required>
        </div>
        <div class="form-group">
            <label for="startDate">Thời gian bắt đầu</label>
            <input type="date" id="startDate" class="form-control" th:field="*{startDate}" required>
        </div>
        <div class="form-group">
            <label for="endDate">Thời gian kết thúc</label>
            <input type="date" id="endDate" class="form-control" th:field="*{endDate}" required>
        </div>
        <div class="form-group">
            <label for="discount">Mức giảm giá </label>
            <input type="number" id="discount" class="form-control" th:field="*{salePrice}" min="10000" placeholder="Nhập mức giảm giá" required>
        </div>
        <div class="form-group">
            <label for="details">Chi tiết</label>
            <textarea id="details" class="form-control" th:field="*{detail}" rows="3" placeholder="Nhập chi tiết khuyến mãi"></textarea>
        </div>

        <div class="text-center">
            <button type="submit" class="btn btn-success">Lưu Khuyến Mãi</button>
            <a href="#" th:href="@{/saleoff}" class="btn btn-secondary">Quay Lại</a>
        </div>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
